<!DOCTYPE html>
<h1>Admin page</h1>

<form action="/product/createProduct" enctype="multipart/form-data" method="post">
  <div class="form-group">
    <input type="file" class="form-control-file" name="image">
    <input type="text" class="form-control" placeholder="name" name="name">
    <input type="number" class="form-control" placeholder="price" name="price">
    <input type="text" class="form-control" placeholder="description" name="desc">
    <input type="number" class="form-control" placeholder="quantity" name="quantity">
    <input type="text" class="form-control" placeholder="brand" name="brand">
    <input type="submit" value="Get me the stats!" class="btn btn-default">            
  </div>
</form>
