<!DOCTYPE html>
<h1>Cart Page</h1>
<nav>
    <a href="./">Home</a>
    <a href="/product">Products</a>
    <a href="/order">My Orders</a>
    <a href="/cart">Cart</a>
    {{#if isLoggedin}}
    <a style="float:right" href="/users/logout">Logout</a>
    {{else}}
    <a href="/users/signup">Signup</a>
    <a href="/users/login">Login</a>
    {{/if}}
</nav>