<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="./">Home</a>
      <a href="/users/signup">Signup</a>
      <a href="/users/login">Login</a>
      <a href="/product">Products</a>
      <a href="/order">My Orders</a>
      <a href="/cart">Cart</a>
      <a style="float:right" href="/users/logout">Logout</a>
  </nav>
    {{{body}}}
  </body>
</html>
