<!DOCTYPE html>
<h1>Welcome to login page {{title}}</h1>
<nav>
    <a href="./">Home</a>
    <a href="/product">Products</a>
    <a href="/order">My Orders</a>
    <a href="/cart">Cart</a>
    {{#if isLoggedin}}
    <a style="float:right" href="/users/logout">Logout</a>
    {{else}}
    <a href="/users/signup">Signup</a>
    <a href="/users/login">Login</a>
    {{/if}}
</nav>
<form action="/users/login" method="post">
    <label for="fname">username</label>
    <input type="text" name="username" placeholder="username">
    <label for="fname">Password</label>
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Submit">
